<% if flash[:success].present? %>
    <p style="color: green"><%= flash[:success] %></p>
<% end %>
<br>

<h1>All Store Items</h1>

<% @items_store.each do |item| %>
    <img src="<%= item.image_url %>" height="100" width="150"><br>
    <%= link_to item.name, item_path(item) %><br>
    <p>Price: <%= number_to_currency item.cost %><br></p>
    <br>
<% end %>
