<h1 style="text-align:center;"> Schrute Farms Bed & Breakfast</h1>


<h2 style="text-align:center;">World's Famous Beets</h2>
<h3 style="text-align:center;">~ Established 1812 ~</h3><br><br>

<p style="text-align:center;"><img src="https://ih0.redbubble.net/image.88125399.2551/raf,360x360,075,t,fafafa:ca443f4786.jpg"></p>
<h3 style="text-align:center;">"Willkommen"</h3> 
