<h1>Schrute Farms Bed & Breakfast</h1>

<% if session[:user_id] %>
    <%= link_to("Profile", user_path(current_user)) %>
<% end %>
<a href='/about'>About</a>
<a href='/items/BnB'>BnB</a>
<a href='/items/store'>Store</a>

<% if current_user %>
<%= link_to("Logout", login_path, method: :delete) %>
<% else %>
<%= link_to("Login", login_path) %>
<% end %>

<h3>World's Famous Beets</h3>
<h4>Established 1812</h4>

<img src="https://media-cdn.tripadvisor.com/media/photo-s/05/55/09/ff/amazing-bee-and-breakfast.jpg">