<h1>About Schrute Farms</h1>

<p>Founded in 1812, Schrute Farms is owned and operated by Dwight Schrute. Thanks to the passing
   of his Aunt Shirley, the farm now resides on 1,660 acres of land. In addition, we offer a wide
   range of activitie for our guests to choose from. These include plowing fields, making tables,
   beet wine classes, mattress making, and a tour of the slaughterhouse. </p>

<h2>Meet the Staff</h2>
<h3>Dwight Schrute</h3>
<img src="https://vipfanauctions.com/wp-content/uploads/14800778.jpg" height="150" width="150">
<h4>Owner</h4>

<h3>Mose Schrute</h3>
<img src="https://i.redd.it/iltxakxyl6p11.png" height="150" width="150">
<h4>Bellboy, Activities Director, Valet Driver</h4>
<p></p>
