/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    margin: 0;
    background-image: url("https://66.media.tumblr.com/dbfb62a2f5f7c9c042b7e14144818774/tumblr_nndq8w3Leo1qcdtsho1_1280.jpg");
    font-family: 'Work Sans', sans-seref;
    font-weight: 500;
}

header {
    background: #FEFEFE;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}


 .container {
     width: 80%;
     margin: 0 auto;
 }

 nav {
     float: left;
 }


 nav ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 nav li {
     display: inline-block;
     margin-left: 70px;
     padding-top: 35px;

     position: relative;
 }


 nav a {
     color: #444;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 18px
 }

 nav a:hover {
     color: #000;
 }

 nav a::before {
     content: '';
     display: block;
     height: 5px;
     width: 100%;
     background-color: #444;

     position: absolute;
     top: 0;
     width: 0%;

     transition: all ease-in-out 250ms;
 }

 nav a:hover::before {
     width: 100%
 }

 .center {
   margin: 0 auto;
   width: 40%;
 }

 div.containers {
   text-align: center;
   display: inline-block;
   float: left;
   width: 33.33%;
 }
